<div><mat-card><mat-card-content>
<form [formGroup]="changeForm" autocomplete="off">
    <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">

        <mat-error *ngIf="username?.touched && username?.invalid">
            Korisnicko ime mora biti duze od 3 karaktera!
        </mat-error>
    </mat-form-field>
    
    <br>
    <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        
        <mat-error *ngIf="email?.dirty&& email?.invalid">
            Molim vas unesite ispravan email!
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Trenutna Sifra" type="password" formControlName="stariPassword">
        <mat-error *ngIf="password?.invalid && password?.touched">
            Morate uneti staru sifru kako bi ste izvrsili promenu.
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Nova Sifra" type="password" formControlName="noviPassword">
        <mat-error *ngIf="changeForm.errors?.['password-missmatch']">
            Sifre se ne podudaraju
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Potrvrdi novu sifru" type="password" formControlName="noviPasswordConfirm">
        <mat-error *ngIf="changeForm.errors?.['password-missmatch']">
            Sifre se ne podudaraju
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput placeholder="Ime" formControlName="ime">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Prezime" formControlName="prezime">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Datum Rodjenja" formControlName="datumRodjenja">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="datumRodjenja?.errors?.['badAge']&& datumRodjenja?.touched">
            Korisnik mora imati minimum 18 godina!
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Adresa" formControlName="adresa">
    </mat-form-field>
    <br>

    <div><img width="150" height="150" [src]='slika'/></div>
    <br>
    <button type="button" mat-raised-button (click)="fileInput.click()" class="mat-form-field">Izaberi sliku</button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    <br>
    <button mat-raised-button color="primary"[disabled]="changeForm.invalid" (click)="onSubmit()" class="mat-form-field">Promeni podatke!</button>
</form>
</mat-card-content></mat-card></div>