table {
    width: 100%;
    background-color: #d9f3e4;
    font-weight: 500;
}

.primary{
    background-color: green;
}
.accent{
    background-color: yellow;
}
.warn{
    background-color: red;
}

div{
    margin: 10px;
    margin-left:25px;
    margin-right: 25px;
}