<table mat-table [dataSource]="novePorudzbine" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let por">{{ por.id }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>Potrosac</th>
        <td mat-cell *matCellDef="let por">{{ por.narucilac.username }}</td>
    </ng-container>
    <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef>Adresa</th>
        <td mat-cell *matCellDef="let por">{{ por.adresa}}</td>
    </ng-container>
    <ng-container matColumnDef="ukCena">
        <th mat-header-cell *matHeaderCellDef>Ukupna Cena</th>
        <td mat-cell *matCellDef="let por">{{ por.cena}}</td>
    </ng-container>

    <ng-container matColumnDef="komentar">
        <th mat-header-cell *matHeaderCellDef>Komentar</th>
        <td mat-cell *matCellDef="let por">{{ por.komentar}}</td>
    </ng-container>

    <ng-container matColumnDef="dugme">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let por">
            <button mat-raised-button color="accent" (click)="prihvatiPorudzbinu(por.id)">Prihvati porudzbinu!</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns:cols;"></tr>
</table>
