table{
    width:100%;
    background-color: #d9f3e4;
    font-weight: 500;
}

div{
    margin:20px;
}
.mat-form-field{
    width: 100%;
}

.panel{
    background-color: #d9f3e4;;
}

button{
    text-align: center;
}