#mapa-div {
    height: 600px;
    width: 800px;
  }

.mat-card{
  width:fit-content;
}

.wraper{
  float:left;
  margin-top:50px;
  margin-right: 50px;
}

.main{
  display:flex;
  justify-content: center;
}

.detalji{
  width: 400px;
}

button{
  width: 100%;
}