<div >
    <span>
    <mat-card class="levo">
        <mat-card-content>
            <div class="">
                <app-proizvod (dodatEvent)="dodajUKorpu($event)"></app-proizvod>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="desno"><mat-card-content class="container">
        <div>
                <table mat-table [dataSource]="korpa" class="demo-table">
                    <ng-container matColumnDef="naziv">
                        <th mat-header-cell *matHeaderCellDef>Naziv</th>
                        <td mat-cell *matCellDef="let item">{{ item.proizvod.naziv }} </td>
                        <td mat-footer-cell *matFooterCellDef>Ukupno:</td>
                    </ng-container>

                    <ng-container matColumnDef="kol">
                        <th mat-header-cell *matHeaderCellDef>Kolicina</th>
                        <td mat-cell *matCellDef="let item">{{ item.kolicina }}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="cena">
                        <th mat-header-cell *matHeaderCellDef>Cena</th>
                        <td mat-cell *matCellDef="let item">{{ item.proizvod.cena * item.kolicina }}</td>
                        <td mat-cell *matFooterCellDef> {{ ukupnaCena() | currency:'RSD' }} + {{ dostava }} (dostava)</td>
                    </ng-container>

                    <ng-container matColumnDef="ukloni">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let item">
                            <button mat-button (click)="ukloni(item.id)">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="cols"></tr>
                    <tr mat-row *matRowDef="let row; columns:cols"></tr>
                    <tr mat-footer-row *matFooterRowDef="cols"></tr>
                </table>
</div>
                <br>
            <mat-divider></mat-divider>
            <form [formGroup]="forma" mb-4 autocomplete="off">
                <mat-form-field>
                    <input matInput placeholder="Adresa" formControlName="adresa">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <textarea matInput placeholder="Komentar" formControlName="komentar"></textarea>
                </mat-form-field>
                <br>
           </form>
        <button mat-raised-button [disabled]="forma.invalid" color="primary" class="mat-form-field"
                    (click)="onSubmit()">Poruci</button>
         </mat-card-content></mat-card>
</span>
</div>